flows/LLC_BI__nCino_PDE_Record_Trigger_Loan_Before_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Balloon_Loan_to_False</name>
        <label>Set Balloon Loan to False</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Balloon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Balloon_Loan_to_True</name>
        <label>Set Balloon Loan to True</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.LLC_BI__Balloon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Balloon_Indicator_after_Term_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>nCino&apos;s general purpose Record-Trigger flows are designed to bucket interactions into distinct pillars. 

1. On Create. These actions occur at the time the record is created. 
2. Progression (if applicable). These actions occur when a core process on the record progresses forward or backward. These should be picklists (Example: Loan Stage). 
3. Adhoc. All other actions which occur when distinct criteria are met.

A &quot;skip&quot; function is build into start conditions. This flow will not execute when the &quot;Exclude Flow&quot; permission set is assigned to the running user.</description>
        <name>Determine_Path</name>
        <label>Determine Path</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Loan_On_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adhoc</defaultConnectorLabel>
        <rules>
            <name>On_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_On_Create</targetReference>
            </connector>
            <label>On Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Un-set the Balloon Loan checkbox when the Amortization Period (Months) and the Term (Months) match. 
Migrated from Workflow(s): Loan Un-set Balloon Indicator</description>
        <name>Remove_Balloon_Indicator_after_Term_Change</name>
        <label>Remove Balloon Indicator after Term Change?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Determine_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uncheck_Balloon_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_TermsMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Balloon_Loan_to_False</targetReference>
            </connector>
            <label>Uncheck Balloon Loan</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set the Loan Balloon indicator when the Amortization Period (Months) and the Term (Months) are different.
Migrated from Workflow(s): Loan Set Balloon Indicator</description>
        <name>Set_Balloon_Indicator_after_Term_Change</name>
        <label>Set Balloon Indicator after Term Change?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Remove_Balloon_Indicator_after_Term_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Balloon_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_TermsDifferent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Balloon_Loan_to_True</targetReference>
            </connector>
            <label>Check Balloon Loan</label>
        </rules>
    </decisions>
    <description>This managed flow handles various Loan actions in Before Save context. Resulting actions from creating or updating a Loan record trigger the flow.</description>
    <environments>Default</environments>
    <formulas>
        <description>Reusable variable. Drives &quot;On Create&quot; pillar.</description>
        <name>forB_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>This formula evaluates to true when the Amortization Period (Months) and the Term (Months) are different after either field changes.</description>
        <name>forB_TermsDifferent</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
ISPICKVAL({!$Record.LLC_BI__Balloon_Product_Structure__c}, &apos;&apos;),
OR (
ISCHANGED( {!$Record.LLC_BI__Amortized_Term_Months__c}) , 
ISCHANGED( {!$Record.LLC_BI__Term_Months__c})),
({!$Record.LLC_BI__Amortized_Term_Months__c} &lt;&gt; {!$Record.LLC_BI__Term_Months__c}))</expression>
    </formulas>
    <formulas>
        <description>This formula evaluates to true when the Amortization Period (Months) and the Term (Months) match after either field changes.</description>
        <name>forB_TermsMatch</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!$Record.LLC_BI__Balloon_Product_Structure__c}, &apos;&apos;), 
OR ( 
ISCHANGED( {!$Record.LLC_BI__Amortized_Term_Months__c}),
ISCHANGED( {!$Record.LLC_BI__Term_Months__c})),
OR(
IF(
OR(
ISBLANK({!$Record.LLC_BI__Amortized_Term_Months__c}),
ISBLANK({!$Record.LLC_BI__Term_Months__c})),
True, False),
({!$Record.LLC_BI__Amortized_Term_Months__c} = {!$Record.LLC_BI__Term_Months__c})))</expression>
    </formulas>
    <formulas>
        <description>This is used in the update element before ending the flow. Inclusion of this formula allows data to be unchanged when no changes are required.</description>
        <name>forT_DescriptionLogic</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.LLC_BI__Description__c}), {!$Record.LLC_BI__Description__c}, {!$Record__Prior.LLC_BI__Description__c})</expression>
    </formulas>
    <interviewLabel>nCino PDE - Record Trigger: Loan Before Save - V.1.0.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>nCino PDE - Record Trigger: Loan Before Save - V.1.0.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>A DML element to update the triggering Loan.</description>
        <name>Update_Loan_On_Create</name>
        <label>Update Loan On Create</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>LLC_BI__Description__c</field>
            <value>
                <elementReference>forT_DescriptionLogic</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>A DML element to update the triggering Loan.</description>
        <name>Update_Loan_On_Edit</name>
        <label>Update Loan On Edit</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>LLC_BI__Description__c</field>
            <value>
                <elementReference>forT_DescriptionLogic</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Balloon_Indicator_after_Term_Change</targetReference>
        </connector>
        <filterFormula>$Permission.0CPHp000000UZUa = False</filterFormula>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
