flows/nCino__ILCreditPreProcessing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Converts serialized data provided to the Flow into a credit application variable that can be used to drive decisions in the Flow.</description>
        <name>Load_Application_Data</name>
        <label>Load Application Data</label>
        <locationX>175</locationX>
        <locationY>244</locationY>
        <actionName>nCino__ILCreditApplicationFlowTransformer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonData</name>
            <value>
                <elementReference>ApplicationData</elementReference>
            </value>
        </inputParameters>
        <nameSegment>nCino__ILCreditApplicationFlowTransformer</nameSegment>
        <outputParameters>
            <assignToReference>Applicants</assignToReference>
            <name>applicants</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>The default parameters to use for Business Applicants.</description>
        <name>Use_Default_Business_Credit_Params</name>
        <label>Use Default Business Credit Params</label>
        <locationX>823</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>ShouldPullCredit</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsHardPull</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditBureaus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingCreditReportIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingTransactionLogIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets default parameters used when an Applicant represents a new customer that does not exist in CRM</description>
        <name>Use_Default_Credit_Pull_Params</name>
        <label>Use Default Credit Pull Params</label>
        <locationX>1031</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>CreditBureaus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Experian</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsHardPull</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldPullCredit</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingCreditReportIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingTransactionLogIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets credit parameters for an existing customer with a valid report on file.</description>
        <name>Use_Default_Credit_Pull_Params_0</name>
        <label>Use Existing Report</label>
        <locationX>574</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>CreditBureaus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Experian</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsHardPull</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldPullCredit</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingCreditReportIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExistingCreditReportID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingTransactionLogIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExistingTransactionLogId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets credit pre-processing parameters for an existing customer without a valid credit report on file</description>
        <name>Use_Default_Credit_Pull_Params_0_0</name>
        <label>Require New Hard Pull</label>
        <locationX>379</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>CreditBureaus</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Experian</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsHardPull</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldPullCredit</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingCreditReportIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingTransactionLogIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The Co-Applicant Individual Applicant type</description>
        <name>ApplicantType_CoApplicant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-applicant</stringValue>
        </value>
    </constants>
    <constants>
        <description>The Co-Signer Individual Applicant Type</description>
        <name>ApplicantType_CoSigner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-Signer</stringValue>
        </value>
    </constants>
    <constants>
        <description>The Guarantor Individual Applicant Type</description>
        <name>ApplicantType_Guarantor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Guarantor</stringValue>
        </value>
    </constants>
    <constants>
        <description>The Primary Individual Applicant type</description>
        <name>ApplicantType_Primary</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines if the provided Applicant exists in CRM by checking for an identity value via the Contact ID. Rules may differ for new versus existing customers.</description>
        <name>Existing_Customer</name>
        <label>Existing Customer?</label>
        <locationX>1023</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Applicant.identity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Valid_Credit_Report</targetReference>
            </connector>
            <label>Is Existing Customer</label>
        </rules>
        <rules>
            <name>Is_New_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Applicant.identity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Default_Credit_Pull_Params</targetReference>
            </connector>
            <label>Is New Customer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Drives logic for credit pre-processing based on whether or not a valid credit report was found for the current applicant.</description>
        <name>Is_A_Valid_Credit_Report_On_File</name>
        <label>Is A Valid Credit Report On File?</label>
        <locationX>1022</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Use_Default_Credit_Pull_Params_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Valid Credit Report On File</defaultConnectorLabel>
        <rules>
            <name>Existing_Credit_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingCreditReportID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Default_Credit_Pull_Params_0</targetReference>
            </connector>
            <label>Existing Credit Report</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the provided Applicant is a business or individual via the applicant type.</description>
        <name>Is_Business</name>
        <label>Is Business?</label>
        <locationX>809</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Use_Default_Business_Credit_Params</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Applicant.applicantType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApplicantType_Primary</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Applicant.applicantType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApplicantType_CoApplicant</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Applicant.applicantType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApplicantType_Guarantor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Applicant.applicantType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApplicantType_CoSigner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Customer</targetReference>
            </connector>
            <label>Is Individual</label>
        </rules>
    </decisions>
    <description>Determines parameters of a credit pull for a given Indirect Lending Credit Application.</description>
    <interviewLabel>Indirect Lending Credit Pre-Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>ILCreditPreProcessing</label>
    <loops>
        <description>Performs additional processing for each applicant included in the credit application</description>
        <name>For_Each_Applicant</name>
        <label>For Each Applicant</label>
        <locationX>378</locationX>
        <locationY>244</locationY>
        <assignNextValueToReference>Applicant</assignNextValueToReference>
        <collectionReference>Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Business</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>49</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>Load_Application_Data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Using the ILFindExistingValidCreditReport flow</description>
        <name>Find_Existing_Valid_Credit_Report</name>
        <label>Find Existing Valid Credit Report</label>
        <locationX>1153</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Is_A_Valid_Credit_Report_On_File</targetReference>
        </connector>
        <flowName>nCino__ILFindExistingValidCreditReport</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Applicant.accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>Applicant.identity</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExistingCreditReportID</assignToReference>
            <name>ValidReportId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExistingTransactionLogId</assignToReference>
            <name>ValidTransactionLogId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Current applicant being evaluated</description>
        <name>Applicant</name>
        <apexClass>nCino__ILApplicantFlowVar_v1</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains information about the applicants included in the credit application.</description>
        <name>Applicants</name>
        <apexClass>nCino__ILApplicantFlowVar_v1</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON-serialized String containing data from the credit application used in the Flow.</description>
        <name>ApplicationData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains the credit bureau outcomes for each applicant provided.</description>
        <name>CreditBureaus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingCreditReportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Existing Credit Report ID (if any) for each applicant.</description>
        <name>ExistingCreditReportIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingTransactionLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Transaction Log ID associated with an existing credit report (if any) for each applicant</description>
        <name>ExistingTransactionLogIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Whether or not a hard credit pull should be used for each applicant</description>
        <name>IsHardPull</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contains whether or not a credit report should be requested for each applicant.</description>
        <name>ShouldPullCredit</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
